.user-menu {
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 0.25rem;
  padding: 0.5rem;
}

.user-menu > button {
  font-size: large;
  /* border-radius: 1em;
  padding: 1em;
  background-color: #00D;
  color: #FFF */
}